.up-floated{
    animation: up-float 0.9s cubic-bezier(0.07, 0.49, 0.4, 0.97);
    opacity: 1!important;
}

.overturnAnimated {
    transform: rotateY(-180deg);
}

.bg-scaled {
    animation: background-scale 30s cubic-bezier(0.14, 0.26, 0.51, 0.96);
    -webkit-animation: background-scale 30s cubic-bezier(0.14, 0.26, 0.51, 0.96);
    transform: scale(1.2);
}

.content-floated {
    animation: content-float 1.2s ease-in-out;
}

@keyframes up-float {
    from {
        transform: translateY(120px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}

@keyframes content-float {
    from {
        transform:scale(1.2);
        padding-top: 150px;
        filter: blur(12px);
        opacity: 0;
    }

    to {
        transform:scale(1.0);
        filter: none;
        opacity: 1;
    }
}

@keyframes background-scale {
    from {
        transform: scale(1.0);
    }

    to {
        transform: scale(1.2);
    }
}

@-webkit-keyframes background-scale {
    from {
        -webkit-transform: scale(1.0);
    }

    to {
        -webkit-transform: scale(1.2);
    }
}